<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="20001">
    <setting id="QUALITY" type="enum" label="10001" values="Low (172k/s)|Medium (1Mb/s)|High (2Mb/s)" default="2" />
    <setting id="TEAM" type="enum" label="10002" values="None|Adelaide|Brisbane|Carlton|Collingwood|Essendon|Fremantle|Gold Coast|Geelong|Greater Western Sydney|Hawthorn|Melbourne|North Melbourne|Port Adelaide|Richmond|St. Kilda|Sydney|West Coast|Western Bulldogs" default="0" />
  </category>
  <category label="20002">
    <setting id="LIVE_QUALITY" type="enum" label="10006" values="Lowest (300k/s)|Low (450k/s)|Medium (660k/s)|High (1Mb/s)|Highest (1.6Mb/s)" default="4" />
    <setting id="LIVE_SUBSCRIPTION" type="bool" label="10007" default="false" />
    <setting id="LIVE_USERNAME" type="text" label="10003" default="" enable="eq(-1,true)" />
    <setting id="LIVE_PASSWORD" type="text" label="10004" option="hidden" default="" enable="eq(-2,true)" />
    <setting id="LIVE_PHONE_NUMBER" type="text" label="10005" default="" enable="eq(-3,true)" />
  </category>
</settings>
